<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Semanalytics</h4>
    </div>
    <div class="modal-body">
      <p>Semanalytics is a fun way to visualize and analyize what hashtags, words, and phrases (i.e., query)
        are trending (or not) in social media. Besides being a lot of fun, Semanaltyics' bubble visualizations helps 
        you to understand the context in which your query is being used in social media by counting and drawing a
        'Bubble Graph' of the number of times your query appears in a large sample (>= 500) of social media posts.
      </p>
      <p>Our first implementation leverages the Twitterverse, with future versions incorporating other social media sites.
        Simply type in a search query, together with the minimum (default: 5) and maximum (default: 100) times the word
        should appear in your sample. Then start exploring and refining your searches. Note that you can used advanced
        query techniques to narrow down your search. For example, <em>warriors - 'golden state'</em> will search on the
        word <em>warriors</em> while excluding <em>golden state</em> from your search. </p>
      <p>To save your search queries, <em>create an account and login</em> before searching. You'll find your last
      10 searches on your profile page</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
  </div>
</div>
