@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 60px;
}

text {
	font: 12px sans-serif;
}
div.tooltip {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}