<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Twitter App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="active"><%= link_to "About", about_show_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#about-modal-window'} %></li>
        <% else %>
          <li class="active"><%= link_to "About", about_show_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#about-modal-window'} %></li>
          <li class="active"><%= link_to "Sign In", sign_in_path %></li>
          <li class="active"><%= link_to "Sign Up", sign_up_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

