<div class="sidebar-nav">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">Sidebar menu</span>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <form class= "navbar-form navbar-left" role= "search">
        <div class= "form-group">
          <input type= "text" id="search-query" class= "form-control" placeholder= "Search">
          <input type= "text" id="min-word-count" class= "form-control" placeholder= "Min Word Count">
          <input type= "text" id="max-word-count" class= "form-control" placeholder= "Max Word Count">
        </div>
        <button type= "submit" id="submit-query" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
